[Unit]
Description=Mailman web UI async tasks runner
Requires=memcached.service postgresql.service
After=network.target remote-fs.target memcached.service postgresql.service
PartOf=postgresql.service

[Service]
ExecStart=/usr/bin/django-admin qcluster --pythonpath {{ webui_confdir }} --settings settings
User={{ webui_user }}
Restart=always

[Install]
WantedBy=multi-user.target
